  
  #sidebar {
    position: fixed;
    left: 0;
    transition: left 0.4s, transform 0.2s;
    box-shadow: 2px 0 5px rgba(84, 65, 168, 0.1);
    z-index: 1;
    background-color: #2c2e3a;
  }
  
  #sidebar.active {
    left: -220px;
  }
  
  
  #page-content-wrapper {
    margin-left: 210px; 
    transition: margin-left 0.4s ease;
  }
  
  #page-content-wrapper.sidebar-active {
    margin-left: 0;
  }
  
.toggle {
  background-color: #2c2e3a;
}

  #toggleSidebar {
 
    color: white;
    padding: 20px;
    border: none;
    font-size: 21px;
    cursor: pointer;
    /* transition: all 0.5s ease-in-out; */
    
  }
  
  #toggleSidebar:hover {
    transform: scale(1.1);
    opacity: 0.9; /* Smooth hover effect */

  }

  .userProfile{
    margin: 10px;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      left: -250px;
    }
  
    #sidebar.active {
      left: 0;
    }
  
    #page-content-wrapper {
      margin-left: 0;
      
    }
  
    /* #page-content-wrapper.sidebar-active {
      margin-left: 210px;
    } */
  }
  #sidebartitle{
    margin-bottom: 0;
  }